# Reading datasets

In [1]:
import pandas as pd
import os, random

In [2]:
generated_data_filepath = './Generated Sample Datasets'

shareholders_filepath = generated_data_filepath + '/shareholders.csv'
appointments_filepath = generated_data_filepath + '/appointments.csv'
addresses_filepath = generated_data_filepath + '/addresses.csv'
pri_ssic_filepath = generated_data_filepath + '/pri_ssic.csv'
corppass_filepath = generated_data_filepath + '/corppass.csv'

In [66]:
# Generate initial list of relationships
entities_list = []
shareholders_list = []
appointments_list = []
appointments_namelist = []
list_of_appointments = ['Director', 'Deputy Director', 'Finance Manager', 'HR Manager', 'Project Lead', 'CTO', 'Sales Manager']
addresses_list = []
pri_ssic_list = []
corppass_list = []

### Select number of entities to be created ###
num_entities = 20

for i in range(num_entities + 1):
    entities_list.append('en' + str(i))
    shareholders_list.append('sh' + str(i))   
    appointments_list.append('app' + str(i)) 
    appointments_namelist.append(random.choice(list_of_appointments))
    addresses_list.append('add' + str(i))   
    pri_ssic_list.append('ssic' + str(i))   
    corppass_list.append('cp' + str(i))

In [75]:
# Function to generate sample data
def generate_data(input_dict, num_rs, num_cycles, cycle_size):
    
    full_df = pd.DataFrame(input_dict, columns = input_dict.keys())
    # Generate random relationships across default relationships (as generated above)
    for i in range(num_rs + 1):
        temp_dict = {}
        for key in input_dict.keys():
            temp_dict.update({ key: random.choice(input_dict.get(key)) })
        temp_df = pd.DataFrame([temp_dict])
        full_df = full_df.append(temp_df, sort=False).reset_index().drop(['index'], axis=1)
    
    # Generate cycles
    for i in range(num_cycles):    
        if list(full_df.iloc[:, 2:]):
            print('3 vars')
            list1, list2, list3 = enforce_cycles(list(full_df[list(input_dict.keys())[0]]), 
                                                 list(full_df[list(input_dict.keys())[1]]), 
                                                 cycle_size, 
                                                 list(full_df[list(input_dict.keys())[2]]))
            new_df = pd.DataFrame({list(input_dict.keys())[0]: list1, 
                                    list(input_dict.keys())[1]: list2,
                                    list(input_dict.keys())[2]: list3}) 
        else:
            print('2 vars')
            list1, list2, list3 = enforce_cycles(list(full_df.iloc[:, 0]), 
                                                 list(full_df.iloc[:, 1]), 
                                                 cycle_size)
            new_df = pd.DataFrame({list(input_dict.keys())[0]: list1, 
                                    list(input_dict.keys())[1]: list2})
        full_df = pd.concat([full_df, new_df]).reset_index().drop('index', axis=1)
    return full_df

# Function to generate cycles in data
def enforce_cycles(entities_list, rs_list, size=3, *namelist): # rs_list : Shareholder UEN, Addresses etc
    list1, list2, list3 = [], [], []
    middle_node = ''
    start_node = random.choice(entities_list)
    
    namelist = namelist[0] if namelist else namelist # Get namelist from default tuple
    
    # Iterate through the number of expected nodes in cycle and add to list. E.g. en5 --> sh6, sh6 --> en5
    for i in range(size-1):
        while not middle_node or middle_node in list2:
            middle_node = random.choice(rs_list)
        if namelist:
            name = namelist[rs_list.index(middle_node)]
            list3.append(name)
        list1.append(start_node)
        list2.append(middle_node)
        start_node = middle_node

    # Adds the last row of relationship to create the cycle
    list1.append(start_node)
    temp = list1[0]
    list2.append(temp)
    if list3:
        list3.append(random.choice(namelist)) # Randomly assigns new Appointment to the other direction's relationship

    return list1, list2, list3

In [76]:
enforce_cycles(entities_list, appointments_list, 5, appointments_namelist)

(['en14', 'app3', 'app20', 'app11', 'app13'],
 ['app3', 'app20', 'app11', 'app13', 'en14'],
 ['Sales Manager', 'HR Manager', 'Project Lead', 'CTO', 'Deputy Director'])

In [77]:
# Generate Appointments data
appointments_df = generate_data({'Entity UEN': entities_list, 
                                 'Appointment UEN': appointments_list, 
                                 'Appointment Name':appointments_namelist},
                               10, 3, 5) # num_rs, num_cycles, cycle_size
appointments_df

3 vars
3 vars
3 vars

   Entity UEN Appointment UEN Appointment Name
0         en0            app0         Director
1         en1            app1  Finance Manager
2         en2            app2       HR Manager
3         en3            app3    Sales Manager
4         en4            app4    Sales Manager
5         en5            app5  Deputy Director
6         en6            app6  Finance Manager
7         en7            app7       HR Manager
8         en8            app8       HR Manager
9         en9            app9       HR Manager
10       en10           app10    Sales Manager
11       en11           app11     Project Lead
12       en12           app12         Director
13       en13           app13              CTO
14       en14           app14    Sales Manager
15       en15           app15  Deputy Director
16       en16           app16       HR Manager
17       en17           app17       HR Manager
18       en18           app18     Project Lead
19       en19           app19    Sales Manager
20       en20           app20       HR Manager
21        en5            app4       HR Manager
22        en9           app11    Sales Manager
23        en9            app0       HR Manager
24       en14            app7       HR Manager
25        en9           app19    Sales Manager
26       en19           app20     Project Lead
27        en7           app18     Project Lead
28       en15            app5         Director
29        en5            app1    Sales Manager
30        en5           app11       HR Manager
31        en0            app6       HR Manager
32        en9            app1  Finance Manager
33       app1           app11     Project Lead
34      app11            app7       HR Manager
35       app7           app16       HR Manager
36      app16             en9       HR Manager
37       en20            app5  Deputy Director
38       app5            app8       HR Manager
39       app8            app6  Finance Manager
40       app6           app11     Project Lead
41      app11            en20     Project Lead
42       en18           app11     Project Lead
43      app11            app4    Sales Manager
44       app4             en9       HR Manager
45        en9            app1  Finance Manager
46       app1            en18       HR Manager

In [78]:
# Generate Shareholders data
shareholders_df = generate_data({'Entity UEN': entities_list, 
                                 'Shareholder UEN': shareholders_list},
                               10, 4, 5)
shareholders_df

2 vars
2 vars
2 vars
2 vars

   Entity UEN Shareholder UEN
0         en0             sh0
1         en1             sh1
2         en2             sh2
3         en3             sh3
4         en4             sh4
5         en5             sh5
6         en6             sh6
7         en7             sh7
8         en8             sh8
9         en9             sh9
10       en10            sh10
11       en11            sh11
12       en12            sh12
13       en13            sh13
14       en14            sh14
15       en15            sh15
16       en16            sh16
17       en17            sh17
18       en18            sh18
19       en19            sh19
20       en20            sh20
21        en8            sh12
22        en1            sh20
23       en16            sh19
24        en7            sh18
25        en2             sh9
26        en0            sh17
27        en3             sh8
28       en13             sh3
29       en12             sh1
30       en16            sh19
31        en8             sh2
32       en12             sh2
33        sh2             sh1
34        sh1            sh13
35       sh13            sh11
36       sh11            en12
37       sh11            sh20
38       sh20             sh1
39        sh1            sh15
40       sh15            en12
41       en12            sh11
42        en6             sh8
43        sh8             sh6
44        sh6            sh12
45       sh12            sh15
46       sh15             en6
47        sh2             sh1
48        sh1             en6
49        en6            sh17
50       sh17             sh0
51        sh0             sh2

In [79]:
# Generate addresses data
addresses_df = generate_data({'Entity UEN': entities_list, 
                              'Address': addresses_list},
                            10, 3, 5)
addresses_df

2 vars
2 vars
2 vars

   Entity UEN Address
0         en0    add0
1         en1    add1
2         en2    add2
3         en3    add3
4         en4    add4
5         en5    add5
6         en6    add6
7         en7    add7
8         en8    add8
9         en9    add9
10       en10   add10
11       en11   add11
12       en12   add12
13       en13   add13
14       en14   add14
15       en15   add15
16       en16   add16
17       en17   add17
18       en18   add18
19       en19   add19
20       en20   add20
21       en17   add20
22       en17    add0
23       en18   add18
24       en20   add18
25       en20   add17
26       en13   add15
27       en19    add7
28       en19    add1
29        en0   add15
30       en19    add0
31       en16    add4
32        en6    add6
33       add6    add9
34       add9    add5
35       add5    add0
36       add0     en6
37       en20    add8
38       add8    add2
39       add2    add4
40       add4    add7
41       add7    en20
42       en10    add1
43       add1   add18
44      add18   add12
45      add12   add15
46      add15    en10

In [80]:
# Generate primary SSIC data
pri_ssic_df = generate_data({'Entity UEN': entities_list, 
                             'Primary SSIC': pri_ssic_list},
                           10, 3, 5)
pri_ssic_df

2 vars
2 vars
2 vars

   Entity UEN Primary SSIC
0         en0        ssic0
1         en1        ssic1
2         en2        ssic2
3         en3        ssic3
4         en4        ssic4
5         en5        ssic5
6         en6        ssic6
7         en7        ssic7
8         en8        ssic8
9         en9        ssic9
10       en10       ssic10
11       en11       ssic11
12       en12       ssic12
13       en13       ssic13
14       en14       ssic14
15       en15       ssic15
16       en16       ssic16
17       en17       ssic17
18       en18       ssic18
19       en19       ssic19
20       en20       ssic20
21        en0       ssic17
22       en19       ssic11
23        en2       ssic13
24       en16        ssic6
25       en10        ssic0
26        en9        ssic6
27        en1       ssic15
28        en4        ssic2
29       en13       ssic10
30        en2        ssic7
31        en4        ssic8
32        en1        ssic6
33      ssic6       ssic11
34     ssic11       ssic18
35     ssic18        ssic7
36      ssic7          en1
37        en4       ssic14
38     ssic14        ssic6
39      ssic6       ssic11
40     ssic11       ssic20
41     ssic20          en4
42        en9       ssic20
43     ssic20        ssic6
44      ssic6       ssic18
45     ssic18        ssic8
46      ssic8          en9

In [85]:
# Generate corppass data
corppass_df = generate_data({'Entity UEN': entities_list, 
                             'CorpPass': corppass_list},
                           10, 3, 5)
corppass_df

2 vars
2 vars
2 vars

   Entity UEN CorpPass
0         en0      cp0
1         en1      cp1
2         en2      cp2
3         en3      cp3
4         en4      cp4
5         en5      cp5
6         en6      cp6
7         en7      cp7
8         en8      cp8
9         en9      cp9
10       en10     cp10
11       en11     cp11
12       en12     cp12
13       en13     cp13
14       en14     cp14
15       en15     cp15
16       en16     cp16
17       en17     cp17
18       en18     cp18
19       en19     cp19
20       en20     cp20
21       en16     cp19
22        en1     cp16
23        en6      cp8
24       en15     cp20
25        en2      cp8
26        en2      cp6
27        en4      cp6
28       en10     cp20
29       en11      cp3
30       en19     cp19
31        en2      cp7
32        en5      cp0
33        cp0      cp3
34        cp3     cp20
35       cp20     cp10
36       cp10      en5
37        en6     cp16
38       cp16     cp11
39       cp11      cp0
40        cp0      cp2
41        cp2      en6
42        en6      cp7
43        cp7      cp3
44        cp3      cp2
45        cp2      cp4
46        cp4      en6

In [86]:
# # Creates datasets folder
# if generated_data_filepath.split('/')[1] in os.listdir():
#     print(True)
# else:
#     os.mkdir(generated_data_filepath)
    
# # Output files to csv

# shareholders_df.to_csv(shareholders_filepath, index = False)
# appointments_df.to_csv(appointments_filepath, index = False)
# addresses_df.to_csv(addresses_filepath, index = False)
# pri_ssic_df.to_csv(pri_ssic_filepath, index = False)
# corppass_df.to_csv(corppass_filepath, index = False)

True